<div id="banners">
  <div class="banners-container">
    <% banners.each do |banner| %>
      <% if banner.link %>
        <%= link_to((image_tag banner.image.resource.url, :class => :banner),banner.link.html_safe)  %>
      <% else %>
        <%= image_tag banner.image.resource.url, :class => :banner %>
      <% end %>
    <% end %>
  </div>

  <a href="#" class="prev"></a>
  <a href="#" class="next"></a>
</div>
