<article class="post">
  <span class="debug id"><%= post.id %></span>
  <%= render :partial => "header", locals: {post: post} %>
  <p class="body"><%= post.body.html_safe %></p>
  <%= render :partial => "footer", locals: {post: post} %>
</article>
